@charset "utf-8";
@import "../../../../node_modules/bulma/bulma";

$primary: #41b883;

:root {
  --bulma-primary: #41b883;
  --bulma-primary-base: #41b883;
  --bulma-primary-light: #f0faf5;
  --bulma-tag-background-l: #41b883;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0faf5;
}
@media screen and (max-width: 769px) {
  #app {
    padding-top: 50px;
    height: 100%;
  }
}
